.footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}
/* Left side of the footer */
.footer-content-left {
  flex: 1;
  padding: 0 20px;
}

.footer-content-left p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Social media icons container */
.footer-social-icons {
  display: flex;
  gap: 15px; /* Add space between icons */
  margin-top: 15px;
}

.footer-social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.footer-social-icons img:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Center section of the footer */
.footer-content-center {
  flex: 1;
  padding: 0 20px;
}

.footer-content-center h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-content-center ul {
  list-style: none;
  padding: 0;
}

.footer-content-center ul li {
  font-size: 1.1rem;
  line-height: 2;
}

/* Right section of the footer */
.footer-content-right {
  flex: 1;
  padding: 0 20px;
}

.footer-content-right h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-content-right ul {
  list-style: none;
  padding: 0;
}

.footer-content-right ul li {
  font-size: 1.1rem;
  line-height: 2;
}
.payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.payment-method h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.payment-method img {
  margin: 0 5px;
  width: 40px;
  height: 20px;
  transition: transform 0.3s ease;
}

.payment-method img:hover {
  transform: scale(1.1);
}

.payment-method .payment-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

/* Footer copyright */
.footer-copyright {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  border-top: 1px solid #fff;
  padding: 15px 0;
  box-sizing: border-box; /* Prevent content from overflowing */
}

/* Ensure the footer adjusts properly in smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack content vertically for small screens */
    align-items: center; /* Center align all content */
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    flex: none; /* Remove flex-grow */
    width: 100%; /* Full width */
    text-align: center; /* Center align text */
    padding: 10px 0;
  }

  .footer-social-icons {
    justify-content: center;
  }
}
